@import "tailwindcss";

@theme {
  --color-blue: #2e5cbf;
  --color-purple: #6c55b9;
  --color-green: #7ac777;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}